<%= form_for(:session, url: sessions_path, :html => {:class => "new_user"}) do |f| %>
  <div class="form-group">
    <%= f.label :email , :value => "邮 箱:"%><br>
    <%= f.email_field :email , :class => "form-control", :placeholder => " 请输入邮箱"%>
  </div>
  <div class="form-group">
    <%= f.label :password, :value => "密 码:"%><br>
    <%= f.password_field :password , :class => "form-control", :placeholder => "请输入密码"%>
  </div>
  
  <div class="form-group">
    <%= f.submit "登 录", class: "btn btn-success btn-block" %>
  </div>
<% end %>
<p class="new_user" style="text-align:right">还没有账号，<%= link_to "立即注册" , signup_path%></p>