<%= form_for(@mech, :html => {:class => "new_user"}) do |f| %>
  <%= render 'shared/mecherror_messages' %>
  
  <div class="form-group">
    <%= f.label :code, :value => "请选择代码上传(只支持zip格式):" %><br>
    <%= f.file_field :code %>
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-success btn-block", :value => "确认创建" %>
  </div>
<% end %>