<center>
  <h1>机甲列表</h1>
</center>
<div class="container main-body custom-well">
  <table class="table">
    <thead>
      <tr>
        <th>机甲名称</th>
        <th>作者</th>
        <th>武器</th>
        <th>引擎</th>
        <th>创建时间</th>
      </tr>
    </thead>
    <tbody>
      <% @meches.each do |m| %>
        <tr>
          <td><%= m.name %></td>
          <td><%= m.user.name unless m.user.nil? %></td>
          <td><%= m.weapon %></td>
          <td><%= m.engine %></td>
          <td><%= m.create_at.to_formatted_s(:db) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @meches, :outer_window => 2 %>
</div>