<div class="container main-body">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <%= @mech.name.nil? ? "无名英雄" : @mech.name %>
        <small><i class="fa fa-user"></i>&nbsp;<%= @mech.user.name %></small>
<!--         <button type="button" class="btn btn-default btn-sm pull-right"><i class="fa fa-heart"></i> 点赞</button>
 -->      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <!-- <img src="http://placehold.it/600x400" alt="机甲图片"> -->
      <embed width="100%" height="400" src="<%= image_path('DisplayWindow.swf')%>"  flashvars="robot_data=<%= @mech.mech_info_json%>" />
    </div>
    <div class="col-md-5">
      <div class="mech-item-info">
        <p><strong><i class="fa fa-space-shuttle"></i> 战斗：<%= @mech.battles.count %></p>
        <p><strong><i class="fa fa-smile-o"></i> 胜利：<%= @mech.win_times %></p>
        <p><strong><i class="fa fa-frown-o"></i> 失败：<%= @mech.fail_times %></p>
        <p><strong><i class="fa fa-rocket"></i> 机甲引擎：</strong><%= link_to(@mech.engine_info.name, @mech.engine_info) unless @mech.engine_info.nil? %></p>
        <p><strong><i class="fa fa-bomb"></i> 机甲武器：</strong><%= link_to(@mech.weapon_info.name, @mech.weapon_info) unless @mech.weapon_info.nil? %></p>
        <p><strong><i class="fa fa-rocket"></i> 机甲状态：</strong>
        <% if @mech.state == "SUCCESS" %>
          <span id="mech-state-iden" style="color:red;">备战中</span>
        <% else %>
          <span style="color:green;">编译失败</span>
        <% end %>
        </p>
        <p>
          <strong><i class="fa fa-clock-o"></i> 创建时间：</strong>
          <%= time_ago_in_words(@mech.create_at) + "前创建" %>
        </p>
        <p><strong><i class="fa fa-volume-up"></i> 战斗宣言：</strong><%= @mech.manifesto%></p>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">更多机甲</h3>
    </div>
    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
  </div> -->
</div>
