<p>
  <strong>UserName:</strong>
  <%= link_to @mech.user.name, @mech.user %>
</p>
<p>
  <strong>MechName:</strong>
  <%= @mech.carrier.name %>
</p>
<p>
	<strong>MechIntroduce:</strong>
	<%= @mech.carrier.introduce %>
</p>
<p>
	<strong>WeaponName:</strong>
	<%= @mech.weapon.name %>
</p>
<p>
	<strong>WeaponIntroduce:</strong>
	<%= @mech.weapon.introduce %>
</p>