<div class="container main-body">
  <div class="row custom-well">
    <div class="col-lg-12">
      <h3 class="page-header">
        <%= @mech.name.nil? ? "无名英雄" : @mech.name %>
        <small><i class="fa fa-user"></i>&nbsp;<%= @mech.user.name %></small>
        <% if !current_user?(@mech.user) %>
          <% if @mech.state == "SUCCESS" %>
            <% unless signed_in? %>
              <%= link_to "与之战斗", signin_path ,:class => "btn btn-sm custom-btn pull-right"%>
            <% else %>
              <a href="#" class="btn btn-sm custom-btn pull-right" data-toggle="modal" data-target="#myMech-<%=@mech._id %>">与之战斗</a>
              <div class="modal fade" id="myMech-<%=@mech._id %>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="ModalLabel">选择一个自己的机甲</h4>
                    </div>
                    <div class="modal-body row">
                      <div class="container-fluid row col-md-12">
                        <% if my_meches = current_user.meches.where(:state => "SUCCESS").all %>
                          <% my_meches.each do |m| %>
                            <center class="col-md-4 choise-my-mech">
                              <a href="/battle/<%= @mech._id%>/<%= m._id %>" data-method="post"><%= m.name %></a>
                            </center>
                          <% end %>
                        <% else %>
                          <center>暂无可战斗机甲，快去添加吧</center>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to "更新机甲", edit_mech_path(@mech),
                          :class => "btn btn-sm custom-btn pull-right" %>
        <% end %>
      </h3>
    </div>
  </div>
  <div class="row custom-well">
    <div class="col-md-7">
      <!-- <img src="http://placehold.it/600x400" alt="机甲图片"> -->
      <embed width="100%" height="400" src="<%= image_path('DisplayWindow.swf')%>"  flashvars="robot_data=<%= @mech.mech_info_json%>" />
    </div>
    <div class="col-md-5">
      <div class="mech-item-info">
        <p>
          <strong><i class="fa fa-space-shuttle"></i> 战斗：</strong><%= @mech.battles.count %> / 
          <strong><i class="fa fa-smile-o"></i> 胜利：</strong> <%= @mech.win_times %> / 
          <strong><i class="fa fa-frown-o"></i> 失败：</strong> <%= @mech.fail_times %>
        </p>
        <!-- <p><strong><i class="fa fa-smile-o"></i> 胜利：</strong> <%#= @mech.win_times %></p>
        <p><strong><i class="fa fa-frown-o"></i> 失败：</strong> <%#= @mech.fail_times %></p> -->
        <p><strong><i class="fa fa-rocket"></i> 机甲引擎：</strong><%= link_to(@mech.engine_info.name, @mech.engine_info) unless @mech.engine_info.nil? %></p>
        <p><strong><i class="fa fa-bomb"></i> 机甲武器：</strong><%= link_to(@mech.weapon_info.name, @mech.weapon_info) unless @mech.weapon_info.nil? %></p>
        <p><strong><i class="fa fa-rocket"></i> 机甲状态：</strong>
        <% if @mech.state == "SUCCESS" %>
          <% if @mech.protect_begin_time + @mech.protect_time >= Time.now.to_i %>
            <span id="mech-state-iden" style="color:green;">护盾保护中，剩余时间：<%= time_ago_in_words(Time.at(@mech.protect_begin_time + @mech.protect_time)) %></span>
          <% else %>
            <span id="mech-state-iden" style="color:red;">备战中</span>
          <% end %>
        <% else %>
          <span style="color:green;">编译失败</span>
        <% end %>
        </p>
        <p>
          <strong><i class="fa fa-clock-o"></i> 创建时间：</strong>
          <%= time_ago_in_words(@mech.create_at) + "前创建" %>
        </p>
        <p><strong><i class="fa fa-volume-up"></i> 战斗宣言：</strong><%= @mech.manifesto%></p>
        <% if !current_user.nil? && current_user.admin? %>
          <a href="https://github.com/Tairy/Mechempire-meches/tree/master/<%= @mech._id %>/code" title="机甲代码">机甲代码</a>
          <p>
            <%= @mech.mech_info_json %>
            <%= @mech.user.motto %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row custom-well">
    <h3>参与的战斗</h3>
    <ul class="users">
      <% @mech.battles.pop(10).reverse_each do |battle| %>
        <% if battle.defender.user && battle.attacker.user && battle.defender && battle.attacker%>
          <li>
            <span class="col-md-2">
              <center class="battle-star">
                <%= battle.starers.count %><br>
                赞
              </center>
            </span>
            <span class="col-md-7 battle-info">
              <div class="battle-info-time">
                <%= time_ago_in_words(battle.time) + "前" %><br>
              </div>
              <div class="battle-info-double">
                <%= link_to battle.defender.user.name, battle.defender.user %> ::
                <%= link_to battle.defender.name, battle.defender %>
                VS 
                <%= link_to battle.attacker.user.name, battle.attacker.user %> ::
                <%= link_to battle.attacker.name, battle.attacker %>
              </div>
            </span>
            <span class="col-md-3">
              <br>
              <%= link_to "去观战", battle %>
            </span>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
