<%= form_for(@user) do |f|%>
  <div class="form-group row">
    <div class="col-md-2">
      <%= f.label :name , :value => "用户名:"%>
    </div>
    <div class="col-md-10">
      <%= f.text_field :name , :class => "form-control", :placeholder => " 请输入用户名"%>
    </div> 
  </div>
  <div class="form-group row">
    <div class="col-md-2">
      <%= f.label :email , :value => "邮 箱:"%>
    </div>
    <div class="col-md-10">
      <%= f.email_field :email , :class => "form-control", :placeholder => " 请输入注册邮箱", :disabled => true%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2">
      <%= f.label :sex , :value => "性 别:"%>
    </div>
    <div class="col-md-10">
      <%= f.radio_button :sex, 'secret', :checked => true %> 保密 &nbsp;
      <%= f.radio_button :sex, 'boy' %> 男 &nbsp;
      <%= f.radio_button :sex, 'girl' %> 女 &nbsp;
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2">
      <%= f.label :motto , :value => "战斗宣言:"%>
    </div>
    <div class="col-md-10">
      <%= f.text_area :motto, :class => "form-control", rows: 3 %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2">
      <%= f.label :blog , :value => "个人主页:"%>
    </div>
    <div class="col-md-10">
      <%= f.text_field :blog, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <%= f.submit :class => "btn btn-success", :value => "确认修改" %>
    </div>
  </div>
<% end %>