<li>
  <span class="col-md-3 battle-info">
    <%= gravatar_for user, size: 52 %>
    <%= link_to user.name, user %>
    <% if !current_user.nil? && current_user.admin? && !current_user?(user) %>
    <%= link_to "删除用户", user, method: :delete,
                                  data: { confirm: "确认删除用户吗？" } %>
    <% end %>
  </span>
  <span class="col-md-3 user-list-info">
    <br> 战斗 <br>
    <%= user.battle_count %> <br>
    <!-- 获得 <%#= user.battle_info[1] %> 次胜利 <br> -->
  </span>
  <span class="col-md-3 user-list-info">
    <br> 积分 <br>
    <%= user.score %>
  </span>
  <!-- <span class="col-md-3 user-list-info">
    <br> 排名 <br>
    未实现
    <%#=  %>
  </span> -->
</li>