<li>
  <span class="col-md-2 battle-info">
    <%= gravatar_for user, size: 52 %>
    <%= link_to user.name.truncate(10), user %>
    <% if !current_user.nil? && current_user.admin? && !current_user?(user) %>
    <%= link_to "删除用户", user, method: :delete,
                                  data: { confirm: "确认删除用户吗？" } %>
    <% end %>
  </span>
  <span class="col-md-2 user-list-info">
    <br> 机甲 <br>
    <%= user.meches.count %> <br>
  </span>
  <span class="col-md-2 user-list-info">
    <br> 战斗 <br>
    <%= user.battle_count %> <br>
  </span>
  <span class="col-md-2 user-list-info">
    <br> 胜利 <br>
    <%= user.win_times %> <br>
  </span>
  <span class="col-md-2 user-list-info">
    <br> 积分 <br>
    <%= user.score %>
  </span>
  <span class="col-md-2 user-list-info">
    <% unless current_user?(user) %>
      <div class="col-md-3">
        <br>
        <% unless current_user.nil? %>
          <% unless(current_user.following.include?(user)) %>
            <%= link_to "关注", follow_user_path(user), remote: true, method: :post, :class => "btn btn-sm custom-btn pull-right", :id => "following" %>
          <% else %>
            <%= link_to "取消关注", unfollow_user_path(user), remote: true, method: :post, :class => "btn btn-sm custom-btn pull-right", :id => "following" %>
          <% end %>
        <% else %>
          <%= link_to "关注", signin_path, :class => "btn btn-sm custom-btn pull-right" %>
        <% end %>
      </div>
    <% end %>
  </span>
</li>