<% provide(:title, '| 编辑用户信息') %>

<div class="custom-container main-body">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <%= link_to("基本资料", edit_user_path(current_user), :class => "list-group-item") %>
        <%= link_to("修改密码", edit_user_path(current_user, :params => {'tab' => 'password'}) , :class => "list-group-item") %>
        <%= link_to("账户激活", edit_user_path(current_user, :params => {'tab' => 'active'}) , :class => "list-group-item") unless current_user.is_actived? %>
      </div>
    </div>
    <div class="col-md-9">
      <% if params['tab'].nil? %>
        <h3>基本资料</h3>
        <hr>
        <div class="col-md-9">
          <%= render 'base_info_form' %>
        </div>
        <div class="col-md-3">
          <%=link_to gravatar_for(current_user, size: 240), current_user , :class => "thumbnail edit_user" %>
          <a href="https://en.gravatar.com/" title="修改头像">去Gravatar修改头像</a>
        </div>
      <% elsif params['tab'] == "password" %>
        <h3>修改密码</h3>
        <hr>  
        <div class="col-md-9">
          <%= render 'change_password' %>
        </div>
        <div class="col-md-3">
        </div>
      <% elsif params['tab'] == "active" && !current_user.is_actived? %>
        <h3>重新激活</h3>
        <hr>  
        <div class="col-md-9">
          <%= render 'active' %>
        </div>
        <div class="col-md-3">
        </div>
      <% else %>
      <%= render :file => 'public/404.html' %>
      <% end %>
    </div>
  </div>
</div>