<center class="container main-body custom-well">
  <h1>英雄榜</h1>
  
  <ul class="users">
    <%#= render @users %>
    <% @users.each.with_index do |user, index| %>
      <li>
        <div class="col-md-4 battle-info">
          <%#= @page %>
          <% if ( @page.to_i == 1 ) && ( index < 8 ) %>
            <%# 前八，加图标并向左缩进1em %>
            <div class="col-md-3 user-list-info top-users">
              <% if index == 0 %>
                <%# 金 %>
                <span class="glyphicon glyphicon-glass user-rank-1" aria-hidden="true"></span>
              <% elsif index == 1 %>
                <%# 银 %>
                <span class="glyphicon glyphicon-glass user-rank-2" aria-hidden="true"></span>
              <% elsif index == 2 %>
                <%# 铜 %>
                <span class="glyphicon glyphicon-glass user-rank-3" aria-hidden="true"></span>
              <% else %>
                <%# 其他前八 %>
                <span class="glyphicon glyphicon-star user-rank-other" aria-hidden="true"></span>
              <% end %>
              <%= (@page.to_i - 1) * 30 + (index + 1) %>
            </div>
          <% else %>
            <%# 非前八，无图标 %>
            <div class="col-md-3 user-list-info">
              <%= (@page.to_i - 1) * 30 + (index + 1) %>
            </div>
          <% end %>

          <div class="col-md-9">
            <%= gravatar_for user, size: 52 %>
            &nbsp;
            <%= link_to user.name.truncate(10), user %> <br>
            <% if !current_user.nil? && current_user.admin? && !current_user?(user) %>
            <%= link_to "删除用户", user, method: :delete,
                                          data: { confirm: "确认删除用户吗？" } %>
              <% if !user.is_actived %>
                <small>未激活</small>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-1 user-list-info">
          机甲 <br>
          <%= user.meches.count %>
        </div>
        <div class="col-md-1 user-list-info">
          战斗 <br>
          <%= user.battle_count %>
        </div>
        <div class="col-md-1 user-list-info">
          胜利 <br>
          <%= user.win_times %>
        </div>
        <div class="col-md-1 user-list-info">
          积分 <br>
          <%= user.score %>
        </div>
        <div class="col-md-3 user-list-info">
          <% unless user.motto.nil? %>
            <%= user.motto.truncate(40) %>
          <% end %>
        </div>
        <div class="col-md-1 user-list-info">
          <% unless current_user?(user) %>
            <% unless current_user.nil? %>
              <% unless(current_user.following.include?(user)) %>
                <%= link_to "关注", follow_user_path(user), remote: true, method: :post, :class => "btn btn-sm custom-btn pull-right", :id => "following-#{user._id}" %>
              <% else %>
                <%= link_to "取消关注", unfollow_user_path(user), remote: true, method: :post, :class => "btn btn-sm custom-btn pull-right", :id => "following-#{user._id}" %>
              <% end %>
            <% else %>
              <%= link_to "关注", signin_path, :class => "btn btn-sm custom-btn pull-right" %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= paginate @users, :outer_window => 2 %>
</center>
