<div class="custom-container">
  <div class="row">
    <div class="col-md-3">
      <%=link_to gravatar_for(@user, size: 240), @user , :class => "thumbnail" %>
      <h1 class="user-info-name">
        <%= @user.name %> 
        <small>
          <% if @user.sex == "boy" %>
            <i class="fa fa-mars"></i>
          <% elsif @user.sex == "girl" %>
            <i class="fa fa-venus"></i>
          <% end %>
        </small>
      </h1>
      <hr>
      <ul class="user-info-detial">
        <li>
          <span class="user-info-icon">
            <i class="fa fa-envelope"></i>
          </span> 
          <span>
            <%= @user.email %>
          </span>
        </li>
        <% unless @user.blog.nil? %>
          <li>
            <span class="user-info-icon">
              <i class="fa fa-link"></i>
            </span> 
            <span>
              <%= link_to(@user.blog, @user.blog) %>
            </span>
          </li>
        <% end %>
        <% unless @user.motto.nil? %>
        <li>
          <span class="user-info-icon">
            <i class="fa fa-volume-up"></i>
          </span>
          <span>
            <%= @user.motto %>
          </span>
        </li>
        <% end %>
        <li>
          <span class="user-info-icon">
            <i class="fa fa-clock-o"></i>
          </span>
          <span>
            <%= @user.join_time.strftime("%Y年%m月%d") %>加入
          </span>
        </li>
      </ul>
      <hr>
      <div class="row">
        <center class="col-md-6 user-follow follower">
          <a href="#" title="关注者">
            <span>关注者</span><br>
            <strong id="follower"><%= @user.follower.count%></strong>
            <label> 人</label>
          </a>
        </center>
        <center class="col-md-6 user-follow">
          <a href="#" title="关注了">
            <span>关注了</span><br>
            <strong><%= @user.following.count%></strong>
            <label> 人</label>
          </a>
        </center>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row custom-well my-achieve">
        <div class="row">
          <div class="col-md-9">
            <h3>战绩一览</h3>
          </div>
          <% unless(current_user == @user) %>
            <div class="col-md-3">
              <% unless current_user.nil?%>
                <% unless(current_user.following.include?(@user)) %>
                  <%= link_to "关注", follow_user_path(@user), remote: true, method: :post, :class => "btn btn-sm btn-default pull-right", :id => "following" %>
                <% else %>
                  <%= link_to "取消关注", unfollow_user_path(@user), remote: true, method: :post, :class => "btn btn-sm btn-default pull-right", :id => "following" %>
                <% end %>
              <% else %>
                <%= link_to "关注", signin_path, :class => "btn btn-sm btn-default pull-right" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <hr>
        <div class="col-md-12 row">
          <div class="col-md-3">
            <i class="fa fa-plus-circle"></i>
            <span> 25 积分</span>
          </div>
          <div class="col-md-3">
            <i class="fa fa-space-shuttle"></i>
            <span> <%#= @user.battle_count %> 战斗</span>
          </div>
          <div class="col-md-3">
            <i class="fa fa-smile-o"></i>
            <span> 25 胜利</span>
          </div>
          <div class="col-md-3">
            <i class="fa fa-heart"></i>
            <span> 25 赞</span>
          </div>
        </div>
        <div class="col-md-12 row">
          <div class="col-md-3">
            <i class="fa fa-arrow-circle-up"></i>
            <span> 25 排名</span>
          </div>
          <div class="col-md-3">
            <i class="fa fa-rocket"></i>
            <span> <%= @user.meches.count %> 机甲</span>
          </div>
          <div class="col-md-3">
            <i class="fa fa-frown-o"></i>
            <span> 25 失败</span>
          </div>
        </div>
      </div>
      <div class="custom-well">
      <h3>拥有的机甲</h3>
      <hr>
      <% @user.meches_per_page(params[:page]).each do |mech| %>
        <div class="row">
          <div class="col-md-12">
            <div class="my-mech-head">
              <span class="my-mech-name">
                <%= link_to(mech.name.nil? ? "无名英雄" : mech.name, mech) %>
              <span>
              <span class="pull-right my-mech-create-at"><%= time_ago_in_words(mech.create_at) + "前创建" %></span>
            </div>
            <br>
            <div class="my-mech-body">
              <div class="my-mech-info">
                <p><strong><i class="fa fa-rocket"></i> 机甲引擎：</strong>石山石</p>
                <p><strong><i class="fa fa-bomb"></i> 机甲武器：</strong>石山石</p>
                <p><strong><i class="fa fa-volume-up"></i> 战斗宣言：</strong>我是最牛逼的机甲</p>
                <% if mech.user != current_user %>
                  <% if current_user.nil? %>
                    <%= link_to "与之战斗", signin_path ,:class => "btn btn-default" %>
                  <% else %>
                    <button class="btn btn-default" data-toggle="modal" data-target="#myMech">与之战斗</button>
                    <div class="modal fade" id="myMech" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="ModalLabel">选择一个自己的机甲</h4>
                          </div>
                          <div class="modal-body row">
                            <div class="container-fluid row col-md-12">
                              <% current_user.meches.each do |m| %>
                                <center class="col-md-4 choise-my-mech">
                                  <a href="/battle/<%= mech._id%>/<%= m._id %>"><%= mech.name %></a>
                                </center>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
               <!--  <p>
                  <strong><i class="fa fa-area-chart"></i> 战斗力指数：</strong>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star-empty"></span>
                </p> -->
              </div>
            </div>
          </div>
        </div>
        <hr>
        <% end %>
        <center>
          <%= paginate @user.meches_per_page(params[:page]), :outer_window => 2 %>
        </center>
      </div>
      <div class="row custom-well">
        <h3>参与的战斗</h3>
        <hr>
        <%# @user.meches.each do |mech| %>
          <% #mech.battles.each do |battle| %>
            <div class="row">
              <p>
                <i class="fa fa-clock-o"></i> 
                <%#= battle.time.to_formatted_s(:db) %>
              </p>
              <div class="col-md-12 my-battle-show">
                <center class="col-md-4 my-battle-user-info">
                  <div class="panel panel-success">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        <i class="fa fa-gavel"></i>
                        <%#= link_to(battle.meches.first.user.name, battle.meches.first.user) %>
                        ::
                        <%#= link_to(battle.meches.first.name.nil? ? "无名英雄" : battle.meches.first.name, battle.meches.first) %>
                      </h3>
                    </div>
                    <div class="panel-body my-battle-mech-info">
                      <p><strong><i class="fa fa-rocket"></i> 机甲引擎：</strong>石山石</p>
                      <p><strong><i class="fa fa-bomb"></i> 机甲武器：</strong>石山石</p>
                      <p><strong><i class="fa fa-volume-up"></i> 战斗宣言：</strong>我是最牛逼的机甲</p>
                      <p>
                        <strong><i class="fa fa-area-chart"></i> 战斗力指数：</strong>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                      </p>
                    </div>
                  </div>
                </center>
                <center class="col-md-4 my-battle-icon">
                  <i class="fa fa-times"></i>
                </center>
                <center class="col-md-4 my-battle-user-info">
                  <div class="panel panel-warning">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        <i class="fa fa-shield"></i>
                        <%#= link_to(battle.meches.last.user.name, battle.meches.last.user) %> 
                        ::
                        <%#= link_to(battle.meches.last.name.nil? ? "无名英雄" : battle.meches.last.name, battle.meches.last) %>
                      </h3>
                    </div>
                    <div class="panel-body my-battle-mech-info">
                      <p><strong><i class="fa fa-rocket"></i> 机甲引擎：</strong>石山石</p>
                      <p><strong><i class="fa fa-bomb"></i> 机甲武器：</strong>石山石</p>
                      <p><strong><i class="fa fa-volume-up"></i> 战斗宣言：</strong>我是最牛逼的机甲</p>
                      <p>
                        <strong><i class="fa fa-area-chart"></i> 战斗力指数：</strong>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                      </p>
                    </div>
                  </div>
                </center>
              </div>
            </div>
          <%# end %>
        <% #end %>
      </div>
      <div class="row custom-well">
        <h3>最新动态</h3>
        <hr>
      </div>
    </div>
  </div>
</div>