<!DOCTYPE html>
<html>
<head>
  <title>机甲帝国-管理员系统</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'layouts/ie' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
      <%= value %>
    </div>
  <% end %>
  <div id="wrapper">
    <!-- Navigation -->
    <%= render 'layouts/admin_nav' %>
    <div id="page-wrapper">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>