<!DOCTYPE html>
<html ng-app="mechempire">
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <title>欢迎访问-机甲帝国 <%= yield(:title) %> </title>
</head>
<body>
<%= render 'layouts/header' %>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    <%= value %>
  </div>
<% end %>
<%= yield %>
<%= render 'layouts/footer' %>
<%= javascript_include_tag 'application'%>
</body>
</html>
